/* FormUI.uss */

.form {
    width: 384px;
    height: 486px;
    margin: 10px;
}

.formBg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("project://database/Assets/Sprite/Sprite/Icons_dan_UI/FormBG.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.inputNama {
    position: absolute;
    left: 32px;
    top: 96px;
    width: 336px;
    height: 32px;
}

.inputField {
    position: absolute;
    left: 120px;
    top: 0;
    width: 218px;
    height: 32px;
}

.labelIkon {
    position: absolute;
    left: 0;
    top: 0;
    width: 96px;
    height: 32px;
}

.label2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("project://database/Assets/Sprite/Sprite/Icons_dan_UI/Label.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.nama2 {
    position: absolute;
    left: 6px;
    top: 6px;
    width: 78px;
    height: 14px;
    color: #000000;
    font-size: 12px;
    -unity-text-align: middle-center;
}

.pilihIkon {
    position: absolute;
    left: 32px;
    top: 160px;
    width: 344px;
    height: 80px;
}

.tempatIcon {
    position: absolute;
    left: 120px;
    top: 0;
    width: 224px;
    height: 80px;
}

.tempatKotakanIkon1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("project://database/Assets/Sprite/Sprite/Icons_dan_UI/TempatKotakanIkon.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.buttonPlayerIkonKapal,
.buttonPlayerIkonKucing,
.buttonPlayerIkonBebek
{
    position: absolute;
    width: 48px;
    height: 48px;
    top: 8px;
}


.buttonPlayerIkonBebek {
    left: 8px;
}
.buttonPlayerIkonBebek {
    background-image: url("project://database/Assets/Sprite/Sprite/Icons_dan_UI/PlayeIkonBebek.png");
}

.buttonPlayerIkonKapal {
    left: 88px;
}

.buttonPlayerIkonKapal{
    background-image: url("project://database/Assets/Sprite/Sprite/Icons_dan_UI/PlayeIkonKapal.png");
}

.buttonPlayerIkonKucing {
    left: 168px;
}
.buttonPlayerIkonKucing {
    background-image: url("project://database/Assets/Sprite/Sprite/Icons_dan_UI/PlayeIkonKucing.png");
}
.labelIkon2 {
    position: absolute;
    left: 0;
    top: 24px;
    width: 96px;
    height: 32px;
}

.label4 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("project://database/Assets/Sprite/Sprite/Icons_dan_UI/Label.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.ikon8 {
    position: absolute;
    left: 6px;
    top: 6px;
    width: 78px;
    height: 14px;
    color: #000000;
    font-size: 12px;
    -unity-text-align: middle-center;
}

.buttonIkonText{
    position: absolute;
    width: 48px;
    height: 16px;
    font-size: 12px;
    top: 8px;
    color: #000000;
    -unity-text-align: middle-center;
}


.namaLabel {
    position: absolute;
    left: 138px;
    top: 16px;
    width: 96px;
    height: 32px;
}

.label6 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("project://database/Assets/Sprite/Sprite/Icons_dan_UI/Label.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.player {
    position: absolute;
    left: 6px;
    top: 6px;
    width: 78px;
    height: 14px;
    color: #000000;
    font-size: 12px;
    -unity-text-align: middle-center;
}

.buttonFormHubungkan,
.buttonFormSelesai,
.buttonHapus,
.reset{
    position: absolute;
    width: 128px;
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
}

.buttonFormHubungkan {
    top: 342px;
    left: 128px;
    background-image: url("project://database/Assets/Sprite/Sprite/Icons_dan_UI/ButtonFormPutih.png");
}

.buttonFormSelesai {
    top: 406px;
    left: 128px;
    background-image: url("project://database/Assets/Sprite/Sprite/Icons_dan_UI/ButtonFormPutih.png");
}

.buttonHapus {
    top: 16px;
    left: 336px;
    width: 32px;
    height: 32px;
    background-image: url("project://database/Assets/Sprite/Sprite/Icons_dan_UI/ButtonHapus.png");
}

.reset{
    top: 342px;
    left: 128px;
    background-image: url("project://database/Assets/Sprite/Sprite/Icons_dan_UI/ButtonFormMerah.png");
    display: none;
}

.buttonFormHubungkan .nonaktif{
    background-image: url("project://database/Assets/Sprite/Sprite/Icons_dan_UI/ButtonFormAbu.png");
}

.buttonFormSelesai .nonaktif{
    background-image: url("project://database/Assets/Sprite/Sprite/Icons_dan_UI/ButtonFormAbu.png");
}

/* USS Changes */
.warningCanvas {
    position: absolute;
    width: 80%;
    height: 60%;
    top: 20%;
    left: 10%;
    transform: translate(-50%, -50%);
    background-image: url("project://database/Assets/Sprite/Sprite/Icons_dan_UI/FormBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none; /* Initially hidden */
}

.warningText {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
    font-size: 14px;
    -unity-text-align: middle-center;
}

.warningButton {
    width: 128px;
    height: 32px;
    background-image: url("project://database/Assets/Sprite/Sprite/Icons_dan_UI/ButtonFormPutih.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #000000;
    font-size: 12px;
    -unity-text-align: middle-center;
}